<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Library</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
            <% for(var i=0;i<nav.length;i++){ %>
                <li>
                    <a href="<%= nav[i].link %>"><%= nav[i].title %></a>
                </li>
            <% } %>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
    <div class="container">
        <div class="row">
             <form action="/read" method="POST">
             <table class="table">
            <thead>
                <tr><th>Title</th>
                    <th>Image</th>
                <th>Author</th>
                <th>Publisher</th>
                 <th>Dop</th>
                 <th>Distributer</th>
                 <th>Price</th>
                <th>description</th></tr>
            </thead>
        <% for(var i=0;i<data.length;i++){ %>
        <tbody>
            <tr><td><%= data[i].title %></td>
                <td><%= data[i].picture %></td>
                <td><%= data[i].author %></td>
                <td><%= data[i].publisher %></td>
                <td><%= data[i].dob %></td>
                <td><%= data[i].distributer %></td>
                <td><%= data[i].price %></td>
                <td><%= data[i].description %></td></tr>
         </tbody>
        <%} %>
     </table>
     </form>
    </div>
    </div>
            
</body>
</html>